* {
    box-sizing: border-box;
    }
    
    html, body, main {
        height: 100%;
    }
    .container {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        background-color:white;
        max-width: 100%;
       min-height: 100%;
       color: black;
    }

    #searchInput {
        margin: 5px;
    }

    .background-image {
  background-image: url("https://cdn.statically.io/img/codetheweb.blog/assets/img/posts/css-advanced-background-images/cover.jpg?f=webp&w=720");
  height: 100%;
  min-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}