* {
    box-sizing: border-box;
    }
    
    html, body, main {
        height: 100%;
    }
    .container {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        background-color:white;
        max-width: 100%;
       min-height: 100%;
       color: black;
    }

    #searchInput {
        margin: 5px;
    }
    
    